@import "../../../../src//style/utilities/variables";

.document-view {
    // margin: 0 auto;
    position: absolute;
    height: 60vh;
    opacity: 1;
    top: 10%;
    right: 11%;
    width: 40vw;

    display: grid;
    grid-template-rows: 0.5fr 6fr;


    z-index: 10;
    cursor: grab;

    .document-view-file {
        opacity: 1;
        width: 100%;
        height: 100%;

    }

    .document-view-title {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 28vw;
    }

    img.document-view-file {
        object-fit: cover;
        height: 80%;
        width: 80%;
    }

    .close-document-button:hover {
        background-color: $overlay-color-secundary-tranparent;
    }
}

.document-overlay-tabs {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: auto;
}

.document-actions-container {
    height: 60%;
    position: relative;
    top: 40%;

}

.docuemt-size {
    width: 100%;
    margin: 0 auto;
}