@import "../../../style//utilities/breakPoints";
@import "../../../style//utilities/globalClasses";

#ModelPopup {
    color: white;
    background-color: $overlay-color-primary;
    position: absolute;
    width: 50vw;
    right: 3vw;
    border-radius: 15px;

    .mainContainterModelPopUp{
        //background-color: white;
        padding: 1vw;
        display: flex;
    
        justify-content: flex-end; 
        align-items: stretch;
        flex-direction: column; 
        flex-wrap: nowrap; 
        align-content: stretch;

        .topModelPopUp{
            flex-grow: 0;

            display: flex;
            
            justify-content: flex-end; 
            align-items: stretch;
            flex-direction: row; 
            flex-wrap: nowrap; 
            align-content: stretch;

            .titleModelPopUp{
                flex-grow: 1;
            }

            .CloseButton {
                flex-grow: 0;
            }
        }

        .bottomModelPopUp{
            flex-grow: 1;
            :nth-child(odd){
                background-color: white;
                color: black;
                font-weight: bold;
                font-size: small;
            }
            textarea{
                resize: none;
                height: 40vh;
            }
        }
    }
    
}

#ModelPopup div {
    text-align: left;
}