@import "label.scss";
@import "GaugeSensor.scss";

.matterport {
    transition: transform 500ms;
    height: 100vh;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.devoloperTag {
    z-index: 100;
    opacity: .2;
    position: absolute;
    pointer-events: none;
    font-size: 3rem;
    bottom: 0%;
    left: 4%;
}

iframe {
    position: relative;
    width: 100%;
    height: 100vh;
}

.iframe3d {
    pointer-events: all;
}

.css3dContainer {
    pointer-events: none !important;
}

.label-render-matterport {
    //  height: 100%;
    //width: 100%;
    //perspective: 1000px !important;
}



@media (max-height:960px) {
    iframe {
        position: relative;
        width: 100%;
    }
}

@media (max-height: 768px) and (min-height:500px) {
    iframe {
        position: relative;
        width: 100%;
    }
}

@media (max-height:499px) and (min-height:300px) {
    iframe {
        position: relative;
        width: 100%;
    }
}

@media (max-height:299px) and (min-height:100px) {
    iframe {
        position: relative;
        width: 100%;
    }
}