@import "../../../../style/utilities/variables";
@import "../../../../style/utilities/globalClasses";

#dev-actions {
    margin-top: 1vh;
    background-color: $overlay-color-primary;
    color: white;
    display: flex;
    padding: 0.5em;
    overflow-x: hidden;
    max-height: 621px;
    min-width: 418px;

    border-radius: 10px;

    :nth-child(-n+3){
        flex-grow: 1;
    }

    button {
        margin-left: 0px;
        margin-right: 0.5em;
        font-size: 1em;
        padding: 2px;
        white-space: nowrap;
    }

    
}

.hiddenDetails{
    margin-top: 0.1vh !important;
}


.section-ov-document{
    margin-top: 1vh !important;
    border-radius: 10px;
}
