@import "../../../../src/style/utilities/variables";
@import "../../../style/utilities/breakPoints";


    .main-div {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 0;

    }

    .lista-tarjetas {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
        font-size: $text-size1;

        h1 {
            text-align: left;
            margin: 1% 0 1% 1%;
            font-size: 1.5rem;
        }
    }
    .dropdown-menu.show {
        
        max-height: 40vh;
        overflow-x: hidden;

        &.overflowBuildingList{
            overflow-y: scroll;
        }

        &.noOverflowBuildingList{
            overflow-y: none;
        }
    }

    @include dps768 {
        .dropdown-menu.show{
            width: 100%;
            margin-left: -4.3vw;
        }
    }

    @include dps868 {
        .dropdown-menu.show{
            width: 100%;
            margin-left: -2.5vw;
        }
    }

    @include dps968 {
        .dropdown-menu.show{
            width: 100%;
            margin-left: -2.5vw;
        }
    }

    @include dps1068 {
        .dropdown-menu.show{
            width: 100%;
            margin-left: -2.3vw;
        }
    }

    @include dps1168 {
        .dropdown-menu.show{
            width: 100%;
            margin-left: -1.3vw;
        }
    }

    @include dps1268 {
        .dropdown-menu.show{
            width: 14.5vw;
            margin-left: -1.8vw;
        }
    }

    @include dps1368 {
        .dropdown-menu.show{
            width: 15vw;
            margin-left: -1.8vw;
        }
    }

    @include dps1468 {
        .dropdown-menu.show{
            width: 15vw;
            margin-left: -1.6vw;
        }
    }

    @include dps1568 {
        .dropdown-menu.show{
            width: 16vw;
            margin-left: -1.7vw;
        }
    }

    @include dps1668 {
        .dropdown-menu.show{
            width: 16vw;
            margin-left: -1.7vw;
        }
    }

    @include dps1768 {
        .dropdown-menu.show{
            width: 16vw;
            margin-left: -1.5vw;
        }
    }

    @include dps1868 {
        .dropdown-menu.show{
            width: 16vw;
            margin-left: -1.35vw;
        }
    }

    @include dps1968 {
        .dropdown-menu.show{
            width: 16vw;
            margin-left: -1.25vw;
        }
    }

