@import "../../../../src/style/utilities/variables";
@import "../../../../src/style/utilities/globalClasses";

.hierarchyComponent {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.hierarchyTree {
    flex-grow: 1;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    background-color: $overlay-color-primary;
    border-radius: 10px;
    resize: both;
    height: 95%;
    width: 14.9%;

    .hierarchyHeader {
        flex-grow: 0;

        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        flex-direction: row;
        align-content: flex-start;

        .searcher {
            flex-grow: 1;

            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-direction: row;
            align-content: flex-start;

            input {
                width: 95%;
                border-radius: 8px;
                padding-left: 5%;
                font-size: 0.8em;
            }
        }

        .positionButton {
            flex-grow: 0;

            Button {
                font-size: 0.8em;
                border-radius: 5px;
            }
        }
    }

    .hierarchyBody {
        flex-grow: 1;

        background-color: white;
        font-size: 0.8em;
        width: 92% !important;
        height: 10px;
        margin-left: 4%;
        overflow: auto;
    }
}

.detailsBox {
    flex-grow: 1;
    height: 40%;
    min-width: 12%;
    width: 30%;
    max-width: 50%;
    margin-left: 2%;

    display: flex;

    justify-content: flex-start;
    flex-direction: column;
    align-content: stretch;

    font-size: small !important;
}

.details-toast {
    z-index: 12;
}

.detailOpened {
    width: 17.2%;
}

.closeDetailsBox {
    flex-grow: 0;

    display: flex;

    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.blankSpace {
    flex-grow: 1;
}

.node-active {
    fill: $color-primary;
    font-weight: bold !important;

}

.hierarchy-rect-svg {
    fill-opacity: .25;
    fill: #828080;
}