@import "../../../../style/utilities/variables";
@import "../../../../style/utilities/globalClasses";
@import "../../../../style/utilities/breakPoints";

.tabs {
    flex-grow: 0;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: stretch;
    
    margin-bottom: 0%;

    ul.tabs {
        width: 100%;
        height: 100%;
        list-style: none;
        overflow: hidden;
        padding-left: 0
    }

    ul.tabs li {
        float: left;
        width: 50%;


    }

    ul.tabs li a {
        position: relative;
        display: block;
        height: 30px;
        margin-top: 40px;
        padding: 8px 0 0 0;
        font-family: 'Open Sans', sans-serif;
        font-size: small;
        text-align: center;
        text-decoration: none;
        color: $overlay-color-primary;
        background: #ACACAC;

        margin-left: 0.36%;

    }

    .tabs li:first-child a {
        z-index: 3;
        -webkit-border-top-left-radius: 8px;
        -moz-border-radius-topleft: 8px;
        border-top-left-radius: 8px;
    }

    .tabs li:nth-child(2) a {
        z-index: 2;
    }

    .tabs li:last-child a {
        z-index: 1;
        border-top-right-radius: 8px;
    }

    ul.tabs li a.active {
        margin: 40px 0 0 0;
        padding: 6px 0 0px 0;
        background: $overlay-color-primary;
        color: $color-tertiary;
        z-index: 4;
        outline: none;
    }

    .group:before,
    .group:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }

    .group:after {
        clear: both;
    }
}

.content {
    flex-grow: 1;

    background-color: $overlay-color-primary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 205%;

    .tableList {
        overflow-y: auto;
    }

    

    .details-table-value-name {
        width: 20%;

    }

    .details-table-value {
        width: 80%;

    }

    .details-file-list {
        background-color: $color-tertiary;
        text-align: left;
        font-size: 0.9em;

        td{
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        .details-description-text {
            margin-left: 5%;
        }
    }

    .sub-ov {
        background-color: $overlay-color-secundary;
        height: 100%;
        max-height: 621px;
    }

    .section-ov-document {

        background-color: $overlay-color-primary;
        color: white;
        overflow-y: auto;
        max-height: 621px;
    }
}

    @media only screen and (max-height: 579px) and (min-height: 480px){
        .tabs{
            margin-top: -3.8vh;
        }
    }



    @media only screen and (max-height: 679px) and (min-height: 580px){
        .tabs{
            margin-top: -3.3vh;
        }
    }



    @media only screen and (max-height: 779px) and (min-height: 680px){
        .tabs{
            margin-top: -2.7vh;
        }
    }


    @media only screen and (max-height: 879px) and (min-height: 780px){
        .tabs{
            margin-top: -2.3vh;
        }
    }



    @media only screen and (max-height: 979px) and (min-height: 880px){
        .tabs{
            margin-top: -2.1vh;
        }
    }



    @media only screen and (max-height: 1079px) and (min-height: 980px){
        .tabs{
            margin-top: -1.9vh;
        }
    }


    @media only screen and (max-height: 1179px) and (min-height: 1080px){
        .tabs{
            margin-top: -1.75vh;
        }
    }



    @media only screen and (max-height: 1279px) and (min-height: 1180px){
        .tabs{
            margin-top: -1.6vh;
        }
    }



    @media only screen and (max-height: 1379px) and (min-height: 1280px){
        .tabs{
            margin-top: -1.55vh;
        }
    }



    @media only screen and (max-height: 1479px) and (min-height: 1380px){
        .tabs{
            margin-top: -1.5vh;
        }
    }



    @media only screen and (max-height: 1579px) and (min-height: 1480px){
        .tabs{
            margin-top: -1.4vh;
        }
    }



    @media only screen and (max-height: 1679px) and (min-height: 1580px){
        .tabs{
            margin-top: -1.3vh;
        }
    }



    @media only screen and (max-height: 1779px) and (min-height: 1680px){
        .tabs{
            margin-top: -1.2vh;
        }
    }



    @media only screen and (max-height: 1879px) and (min-height: 1780px){
        .tabs{
            margin-top: -1.1vh;
        }
    }



    @media only screen and (max-height: 1979px) and (min-height: 1880px){
        .tabs{
            margin-top: 0.95vh;
        }
    }



    @media only screen and (min-height: 1980px){
        .tabs{
            margin-top: 0.75vh;
        }
    }
