.switch-form {
    margin-right: auto;
    margin-left: auto;
    height: 80vh;
    width: 60vw;
}

.option-principal {
    label {
        font-size: 6em;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;

        /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
        -ms-user-select: none;
        user-select: none;
    }

    input {
        width: 20vw !important;
        height: 30vh;
    }
}

.option-container {
    margin-right: auto;
    margin-left: auto;
    height: 80vh;
    width: 60vw;
}