@import "../../../style/utilities/variables";


@mixin tool-tip($width, $height, $background-color){
    &{
    background-color: $background-color;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    transition: all .3s ease;
    overflow: hidden;
    box-shadow: 0 0 0 none;
    z-index: 4;
    display: none;
    flex-grow:0;


    &.active{
      flex-grow:0;
      
      z-index: 4;
      
      display: flex;  
      justify-content: flex-start; 
      align-items: stretch; 
      flex-direction: row;
      
      width: $width;
      height: $height;
      box-shadow:  5px 5px 15px rgba(0,0,0,0.5);
      

      .functionButtonParent{
        flex-grow:1;
        
        display: flex;
        justify-content: flex-end;  
        flex-direction: column;  
        align-content: flex-start;
        z-index: 7;

        .upperButtons{
          flex-grow:1;
        }
        .functionButton{
          margin-left: 2px;
        }
        .functionButton>svg{
          margin-bottom: 25%;
          
        }

        .functionButton.zoomIn{
          
          flex-grow:0;
          /*margin: 210px 0 0 10.5px;*/
          
          width:20px;
          height: 20px;
        }
        
        .functionButton.zoomOut{
          flex-grow:0;

          width:20px;
          height: 20px;

        }
        
        .functionButton.centerMap{
          flex-grow:0;
         
          width:20px;
          height: 20px;
        }
        .lowerButtons{
          flex-grow:0;
        }
      }
    }
    .open-close{
      width: 30px;
      height: 30px;
      background-color: $overlay-color-primary;
      border-radius: 20px;
      z-index: 1;

      flex-grow:0;

      .xOn{
        border-radius: 20px;
        margin: 10.5px 0 0 10.5px;
        background-color: $color-tertiary;
        color:$overlay-color-primary ;
        width:20px;
        height: 20px;
      }

      svg{
        color:$color-tertiary;
      }

      
    }

    .functionButtonParent{
      display:none;
    }
  }
}

.tool-tip{
  
  @include tool-tip(430px, 270px, $overlay-color-primary);
}

.hideMap{
  display: none;
}

.open-close.mapOn{
  background: none;
}

.mapOn{
  display: inline;
  margin-bottom: -4%;
}



.mapOff, .xOff{
  display: none;
}

.buttons{
  flex-grow:0;
  z-index: 25;
  display: flex;  
  justify-content: flex-end;  
  flex-direction: column;  
  align-content: stretch;
  .closeOpenMap{
    flex-grow:0;

    display: flex;
    justify-content: flex-start;  
    flex-direction: column;  
    align-content: stretch;
    z-index: 7;
  }

  
}

.map{
  flex-grow:1;
  align-self:auto;
  z-index: 5;
  margin-top: 20px;

  &.active{
    overflow: hidden;
    z-index: 10;
    border: solid $overlay-color-primary;
    border-radius: 25px 0px 0px 25px;
    margin-top: 0;
    div{
      margin-top: -1px;
      height: 270px;
    }
    img{
      height: 245px;
      width: 360px;
      margin-top: 0.8em;
      border-radius: 10px;
      z-index: 6;
    }
    canvas{
      position: fixed;
      height: 245px;
      width: 360px;
      margin-top: 0.8em;
      border-radius: 10px;
    }

    #myCanvas{
      z-index: 7;
    }
    #myCanvas2{
      z-index: 8;
    }
  }
}

.functionButton{
  width: 30px;
  height: 30px;
  background-color: $color-tertiary;
  border-radius: 20px;
  margin: 10.5px 0 0 10.5px;
  z-index: 9;
}

#arrow{
  display:none;
}